root = true

[*]

# Change these settings to your own preference
indent_style = space
indent_size = 2

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.js]
max_line_length = 120
quote_type = single
spaces_around_brackets = inside
